/* Role Container */
.roles-container, .roles-desc-container {
  display: none;
}

.roles-container.active, .roles-desc-container.active {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2rem;
  margin-right: 1rem;
  padding: 1.5rem 0 0 1rem;
  z-index: 1;
}

.roles-container-item {
  width: 100%;
}

.roles-card {
  padding: 1.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  width: 19rem;
  height: 12rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 2px solid #939dae61;
}

.roles-card:hover {
  transform: scale(1.02);
}


.roles-card-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.role-name {
  font-weight: bold;
  color: black;
}

.role-card-details {
  margin: 0.4rem 0;
  color: #676C72;
  display: flex;
  justify-content: space-between;
}

.role-card-details .left {
  display: flex;
  justify-content: flex-start;
  color: #676C72;
}

.role-card-details img {
  margin-right: 5px
}

.employees-count-icon {
  width: 1.4rem;
  margin-right: -0.5rem !important;
}

.employees-count-circle {
  background-color: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
}

.employee-count {
  margin-right: 0.8rem;
  display: flex;
}

.view-all-employees {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.view-all-employees:hover {
  transform: scale(1.05);
}

.right-arrow-icon {
  margin-left: 0.5rem;
}


