body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #9e9ea4;
  font-family: "Lato", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.material-icons-outlined.collapsed {
  display: block;
}

.material-icons-outlined.expand {
  display: none;
}

.right-background {
  background-color: #fcfcfc;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 0.2fr 0.2fr 0.2fr 3fr 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar function"
    "sidebar function"
    "sidebar alph-sort"
    "sidebar filter"
    "sidebar employees"
    "sidebar roles";
  height: 100vh;
  position: relative;
}

.menu-icon {
  display: none;
}

/*-----Header------*/

.header-icons, .header-icons-burger {
  display: flex;

  font-size: 2.5rem;
  color: #34495E;

}

.burger-container {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
}

.header-icons-burger {
  flex-direction: column;

}

.header-icons span:hover {
  transform: scale(1.2);
}

.header-icons-burger span:hover {
  transform: scale(1.2);
}

.dropdown-content span:hover {
  transform: scale(1.2);
}

.header-container {
  grid-area: header;
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  border-radius: 8px;
  z-index: 1;
  height: 4rem;
  align-items: center;
  width: 100%;
  margin: 3rem 1rem 3rem 2rem;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.205);
  justify-content: center;
}

.header-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-right img:hover,
.header-left img:hover {
  transform: scale(1.2);
}

.search-icon {
  margin: 0 1rem;
}

.search-input {
  background-color: transparent !important;
  height: 100%;
  border-radius: 8px;
  font-size: 1.2rem;
  border: none;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: #bac1c8;
}

.profile-card {
  display: flex;
  align-items: center;
  margin: 0 0.6rem;
  color: black;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 1rem;
  width: 7rem;
}

.profile-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.profile-pic-container {
  position: relative;
  display: inline-block;
}

.status-circle {
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border: 2px solid white;
  border-radius: 50%;
  bottom: 2px;
  right: 2px;
}

.online {
  background-color: #28c76f;
}

.offline {
  background-color: red;
}

.dnd {
  background-color: orange;
}

.profile-name {
  font-weight: 500;
  font-size: 1rem;
}

.profile-name,
.profile-role,
.profile-email {
  margin: 0;
}

.profile-role {
  font-weight: 800;
}

/** Functions */

.function-left .heading {
  font-size: 1.2rem;
  color: #536576;
  margin-bottom: 0.6rem;
  font-weight: bold;
}

.function-left .sub-heading {
  font-size: 0.9em;
  color: #536576af;
  font-weight: 500;
}

.function-left {
  margin-right: 0.5rem;
}

.function-container.active {
  grid-area: function;
  margin: 1rem auto auto auto;
  display: flex;
  width: 95%;
  grid-area: function;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roles-desc-1 .heading span {
  margin: 1rem;
}

.roles-desc-2 {
  margin-top: 1rem !important;
}

.function-container {
  display: none
}

.function-container .sub-heading {
  line-height: 1.4rem;
  color: #A5ADB7;
}

.function-right {
  display: flex;
  align-items: center;
}

.export-button {
  height: 1.8rem;
  border: 2px solid #d8dbe0;
  color: #8592a3;
  margin-right: 1.2rem;
}

.export-button,
.funtion-add-button {
  align-items: center;
  display: flex;
  font-weight: 500;
  width: auto;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.funtion-add-button img {
  margin-right: 5px;
}

.funtion-add-button {
  height: 2.5rem;
  border: none;
  color: white;
  background-color: #f44848;
}

.funtion-add-button:hover,
.export-button:hover {
  transform: scale(1.1);
}

.export-icon {
  margin-right: 0.5rem;
}

/** Alph Sort */

.alph-sort {
  grid-area: alph-sort;
  z-index: 1;
}

.alph-btn {
  height: 2.2rem;
  width: 2rem;
  text-align: center;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  background-color: #eaebee;
  margin: 0.5rem 0.2rem;
}



.alph-btn:hover {
  background-color: #f44848;
  color: white;
}

.alph-btn.active {
  color: white;
  transform: scale(1.2);
  background-color: #f44848;
}

.alphabets-container {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


/*-----Sidebar------*/


.sidebar {
  grid-area: sidebar;
  z-index: 2;
  height: 100%;
  display: flex;
  margin-right: 0.5rem;
  justify-content: space-between;
  flex-direction: column;
  transition: width 0.3s ease-in-out;
}

.sidebar .profile-card {
  display: none !important;
}


.sidebar {
  display: none;
}

.sidebar.active {
  display: flex;
}

.underline-heading-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin: 0.6rem 0 0.6rem 0;
}

.underline {
  background-color: rgba(0, 0, 0, 0.192);
  height: 1px;
  width: 1.2rem;
  margin-right: 0.6rem;
}

.tezo-logo {
  margin-left: 1.5rem;
}

.sidebar-brand {
  width: 100%;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-brand img {
  width: 6.5vw;
  height: auto;
}

.sidebar-handle-icon {
  position: absolute;
  left: -10px;
}

.sidebar-handle-icon img {
  width: 1.6rem;

  height: auto;
}

.sidebar-list.heading {
  font-size: 0.9rem;
  font-weight: 500;
}

.sub-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 0 0.3rem 1rem;
  height: 2.5rem;
  color: #6a6f74;
}

.sub-sec-left:hover {
  background-color: #fde9e9;
  border-radius: 8px;
  height: 2.5rem;
  color: #f44848;
}

.sub-sec.item.unlocked .sidebar-lock-icon {
  display: none;
}

.sub-sec.item.unlocked .sidebar-dashboard-icon {
  display: block;
}

.sub-sec.item.unlocked .sidebar-roles-icon {
  display: block;
}

.sub-sec.item.unlocked .sidebar-assign-user-icon {
  display: block;
}

.sub-sec.item.unlocked .sidebar-employees-icon {
  display: block;
}

.sub-sec.item.locked .sidebar-lock-icon {
  display: block;
}

.sub-sec.item.locked .sidebar-dashboard-icon {
  display: none;
}

.sub-sec.item.locked .sidebar-roles-icon {
  display: none;
}

.sub-sec.item.locked .sidebar-assign-user-icon {
  display: none;
}

.sub-sec.item.locked .sidebar-employees-icon {
  display: none;
}

.expand-collapsed-icons {
  display: flex;
  align-items: center;
}

.sub-sec-left {
  display: flex;
  width: 90%;
  justify-content: space-between;
  color: #6A6F76;
  align-items: center;
  padding-right: 0.8rem;
}

.sub-sec-left-left {
  display: flex;
  align-items: center;
}

.sub-sec-left-left img {
  margin-right: 0.5rem;
  width: 1.6rem;
  padding-left: 1rem;
}

.sidebar-lock-icon,
.sidebar-dashboard-icon,
.sidebar-employees-icon {
  font-size: 2rem !important;
  padding-left: 0.5rem;
}

.sidebar-roles-icon, .sidebar-assign-user-icon {
  font-size: 1.5rem;
  padding: 0 0.5rem 0 1rem;
}

.sub-sec-right {
  display: none;
}


.sub-sec.unlocked.active .sub-sec-left {
  height: 100%;
  border-radius: 0.5rem;
  background-color: #fde9e9;
  color: #f44848 !important;
  width: 90%;
}

.sub-sec.unlocked.active .sub-sec-right {
  background-color: #f44848;
  height: 100%;
  display: block;
  width: 0.4rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.sub-sec.unlocked.active .expand {
  display: block;
}

.sub-sec.unlocked.active .collapsed {
  display: none;
}

.sub-sec-right {
  display: none;
  background-color: #f44848;
  height: 100%;
  width: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.dept-list {
  display: flex;
  align-items: center;
}

.sub-lists ul {
  list-style: none;
  padding-left: 0;
}

.sub-lists ul li {
  display: flex;
  align-items: center;
  margin-left: 10%;
  font-weight: bolder;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}

.sub-lists ul li::before {
  content: "\2022";
  font-size: 1.1rem;
  padding-left: 15px;
  margin-right: 1.5rem;
  margin-bottom: 0.4rem;
}

.employee-sub-lists {
  display: none;
}

.sub-sec.employees.unlocked.active+.employee-sub-lists {
  display: block;
}

.sub-sec.employees.unlocked.active {
  width: 98%;
}

.dept-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 1rem;
}

.employee-dept-count {
  color: #f44848;
  background-color: #fde9e9;
  width: 1.8rem;
  font-weight: 600;
  border-radius: 68rem;
  height: 1.2rem;
  font-size: 0.9rem;
  text-align: center;
}

.departments {
  display: none;
}

.departments.active {
  display: block;
}


.management-sub-section {
  display: none;
}

.management-sub-section.active {
  display: block;
}

.department-sub-lists li {
  height: 3rem;
}

.department-sub-lists li:hover {
  background-color: #f7f8f9;
}

.department-sub-lists li:hover .employee-dept-count {
  color: white;
  background-color: #f44848;
}

.department-sub-lists ul li {
  height: 2rem;
}

.update-message.active {
  display: block;
}

.update-message {
  display: none;
}

.update-message {
  background-color: #fef6f6;
  margin: 0 1rem 1rem 1rem;
  width: 90%;
  border-radius: 8px;
}

.update-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1rem;
}

.update-message-heading {
  color: #f44848;
  font-weight: 600;
}

.update-message-text {
  letter-spacing: 0.8px;
}

.update-btn {
  margin-right: 1rem;
  background-color: #fde6e6;
  padding: 0.5rem;
  color: #f44848;
  width: 5vw;
  border-radius: 8px;
  text-align: center;
}

.update-btn:hover {
  background-color: #f44848;
  color: white;
}

.update-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Alph Sort */
.alph-sort.active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  margin-top: 2.5vh;
}

.alph-sort {
  display: none;
}

.filter-icon {
  margin: 0 1rem 0 0;
}

.filter-icon:hover {
  transform: scale(1.2);
}

.filter-icon:hover {
  transform: scale(1.2);
}

.filter-icon img {
  width: 2.5rem;
  height: auto;
}



/*-----Employees Container------*/
.employees-container {
  grid-area: employees;
  z-index: 1;
  overflow-y: auto;
  padding: 20px 10px;
}

.employees-container {
  display: none;
}

.employees-container.active {
  display: block;
}

.table-add-icon:hover {
  transform: scale(1.2);
}

.arrow-turn-left-down-icon {
  margin-left: 0.5rem;
}

.employees-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.183);
  border-radius: 0 0 10px 10px;
}

.table-container {
  height: 400px;
  overflow-y: auto;
}

.table-container::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.table-container::-webkit-scrollbar-track {
  background-color: transparent;

}

.table-container::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid #f44848;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

th,
td {
  text-align: left;
  border-top: 1px solid #dcdcdd;
  color: black;
  border-bottom: 1px solid #dcdcdd;
}

.check-box-col input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  outline: none;
  border: none;
  margin-left: 1rem;
  text-align: center !important;
  vertical-align: middle !important;
}

th {
  background-color: #f3f3f3;
  color: #68758e;
  border: none;
  height: 3.4rem;
}

td {
  height: 3.4rem;
}

th span {
  font-size: 0.8rem;
}

.above-section-table {
  background-color: #ffffff;
  color: #68758e;
  border: none;
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #dcdcdd;
  margin-bottom: 0;
  display: flex;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.183);
}

tr:hover {
  background-color: #f5f5f5;
}

.above-section-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12%;
}

.above-section-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.above-section-right img {
  width: 1.5rem;
}

.sort-icon {
  font-size: 1.2rem;
}

.sort-icon:hover {
  transform: scale(1.2);
}

.col-user,
.col-role {
  width: 15% !important;
}

.col {
  width: auto;
}

.btn-delete {
  background-color: #f44848;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
}

.btn-delete:hover {
  background-color: #f89191;
  color: white;
}

.above-section-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 2rem 0 0.5rem;
}

.employee-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.profile-email {
  font-size: 0.8rem;
  color: #7d899d;
  font-weight: bold;
}

.btn-active {
  background-color: #e7f4e8;
  color: #539b83;
  text-align: center;
  border-radius: 5px;
  padding: 0.5rem;
  width: 4rem;
  margin-right: 0.5rem;
  border: none;
}

.emp-card {
  margin: 0;
}

/* Filter container */
.filter-container {
  display: none;
}

.sidebar-lists {
  margin-bottom: 1rem;
}

.filter-container.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem 0 1rem;
  padding: 0 0.5rem;
  height: 3.5rem;
  z-index: 1;
  border: 1px solid #f448487a;
  background-color: #fdf2f2;
  border-radius: 5px;
}

.filter-container-left {
  display: flex;
  align-items: center;
}

.filter-container-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 12.5rem;
}

.filter-btn div {
  color: #9E9EA4;
}

.dropdown-options:hover {
  background-color: #f44848;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-header {
  display: none !important;
}

.dropdown-content-header.active {
  display: block !important;

}

.dropdown:hover .dropdown-content-header {
  display: block;
  transform: scale(1.02)
}

.dropdown {

  position: relative;
}


.dropdown-content, .dropdown-content-header {
  display: none;
  position: absolute;
  background-color: white !important;
  margin-top: 1rem;
  right: 5;
  min-width: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content {
  max-height: 8rem;
  overflow-y: auto;
}

.dropdown-options {
  color: #000;
  padding: 0.6rem 0;
  margin: 0;
  text-align: center;
  display: block;
}

.btn-status {
  display: none;
}

.btn-status .btn-reset,
.btn-apply,
.btn-status,
.btn-location,
.btn-department {
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  margin: 0.2rem;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #f44848;
}

.btn-filter {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  justify-content: center;
  color: #f44848;
}

.btn-status.active,
.btn-location,
.btn-department {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-reset,
.btn-apply {
  color: #f44848;
  padding: 0.5rem 1.5rem !important;
}

.btn-reset:hover,
.btn-apply:hover {
  background-color: #f44848;
  color: white;
}

.filter-list-icon {
  margin: 0 4px;
}

/* Role Container */
.roles-container, .roles-desc-container {
  display: none;
}

.roles-container.active, .roles-desc-container.active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem 0 0 1rem;
  z-index: 1;
}

.roles-container-item {
  width: 100%;
}

.roles-card {
  padding: 1.5rem 1rem 1rem 1rem;
  margin-bottom: 1rem;
  width: 85%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: 2px solid #939dae61;
}

.roles-card:hover {
  transform: scale(1.02);
}


.roles-card-name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.role-name {
  font-weight: bold;
  color: black;
}

.role-card-details {
  margin: 0.4rem 0;
  color: #676C72;
  display: flex;
  justify-content: space-between;
}

.role-card-details .left {
  display: flex;
  justify-content: flex-start;
  color: #676C72;
}

.role-card-details img {
  margin-right: 5px
}

.employees-count-icon {
  width: 1.4rem;
  margin-right: -0.5rem !important;
}

.employees-count-circle {
  background-color: #ffffff;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
}

.employee-count {
  margin-right: 0.8rem;
  display: flex;
}

.view-all-employees {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.view-all-employees:hover {
  transform: scale(1.05);
}

.right-arrow-icon {
  margin-left: 0.5rem;
}

/* Role Description Container */
.roles-card .profile-details {
  margin-left: 0.5rem !important;
  width: 100%;
}

.roles-card .profile-name {
  color: black;
  font-weight: bold
}

.roles-card .profile-title {
  margin: 0;
  font-size: 13px;
  color: #676C72;
}

.roles-card .profile-card {
  margin: 0 !important;
}

.roles-card .emp-id img, .email-id img, .role-domain img, .role-location img {
  margin-right: 1rem !important;
}

@media only screen and (max-width:1200px) {
  body {
    font-size: 12px;
  }

  .header {
    height: 3.5rem;
  }

  .sub-sec.unlocked.active .sub-sec-right {
    display: none !important;
  }
}

@media only screen and (max-width:1000px) {


  .burger-container {
    display: block;
  }



  .header-icons {
    display: none !important;
  }

  .sub-sec.unlocked.active .sub-sec-right {
    display: none !important;
  }
}

@media only screen and (max-width:900px) {
  .th span:nth-child(1) {
    font-size: 0.8rem;
  }

  .col-user,
  .col-role {
    width: 12% !important;
  }

  .sort-icon {
    font-size: 0.8rem !important;
  }

  .sidebar-handle-icon img {
    transform: rotate(-180deg);
  }

  .funtion-add-button {
    height: 2rem;
    font-size: 0.8rem;
  }

  .sidebar-brand {
    display: none !important;
  }

  .sidebar .profile-card {
    margin: 1rem 0 1rem 1rem;
    display: flex !important;
    position: relative;
  }

  .sidebar {
    position: fixed;
    top: 0;
    width: 35%;
    background-color: white;
    left: -20%;
    transition: left 0.3s ease;
  }

  .sidebar-handle-icon {
    left: 0;
  }


  .sidebar.active {
    left: 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.183);
  }

  .header .profile-card {
    display: none !important;
  }

  .header {
    height: 2.5rem;
  }

  .sub-sec-left {
    justify-content: flex-start;
  }

  .grid-container {
    grid-template-columns: 100% !important;
    grid-template-areas:
      "header"
      "sidebar"
      "function"
      "function"
      "alph-sort"
      "filter"
      "employees"
      "roles";
  }
}

@media only screen and (max-width: 768px) {

  .alph-btn {
    width: 1.5rem;
    height: 2rem;
    margin: 0.3rem 0.2rem;
  }

  .th span:nth-child(1) {
    font-size: 0.5rem;
  }

  .col {
    width: auto !important;
  }

  .sort-icon {
    font-size: 0.8rem !important;
  }

  .export-button {
    transform: scale(0.8);
  }


  .function-add-button {
    transform: scale(0.8);

  }

  .function-add-button span {
    font-size: 0.5rem !important;
  }

  .sub-sec.unlocked.active .sub-sec-right {
    display: none !important;
  }
}

@media only screen and (max-width:1090px) {
  .update-btn {
    transform: scale(0.9);
    margin-right: 0;
  }

  .update-buttons {
    justify-content: center;
  }

  .update-content {
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
  }

  .update-message-text {
    text-align: center;
  }
}